.topTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
}

.topTableText {
  margin-left: 300px;
  font-size: 70px;
}

.topBtn {
  font-size: 40px;
  float: right;
  margin: 90px 50px 0 0;
}

.topBox {
  width: 700px;
  height: 450px;
  margin: 0px auto 0px auto;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.form-floating {
  margin-top: 40px;
}

.infoList {
  margin-top: 50px;
  width: 650px;
  height: 50px;
  font-size: 40px;
}

.info {
  margin-top: 50px;
}

.popup {
  display: none;
  margin-top: -723px;
}

.popupTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.8);
}

.popupTableText {
  margin-left: 300px;
  font-size: 70px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupBox {
  width: 700px;
  height: 450px;
  margin: 0px auto 0px auto;
  padding: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.inputInfo {
  font-size: 50px;
}

.putBtn {
  margin: 20px 0 0 520px;
  font-size: 20px;
}
